@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FigtreeBold";
    src: url("./assets/fonts/static/Figtree-Bold.ttf");
}
@font-face {
    font-family: "FigtreeRegular";
    src: url("./assets/fonts/static/Figtree-Regular.ttf");
}
