@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SpaceMono-Regular";
    src: url("./assets/font/SpaceMono-Regular.ttf");
    font-size: 24px;
}
@font-face {
    font-family: "SpaceMono-Bold";
    src: url("./assets/font/SpaceMono-Bold.ttf");
    font-size: 24px;
}
